body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#inicio{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
